TODO.md export-ignore
NEXT.md export-ignore
NOTES.md export-ignore
brain_cache.zip export-ignore
.git* export-ignore
Makefile export-ignore
jsconfig.json export-ignore
images/bigger-icon.xcf export-ignore
